@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import 'tailwindcss';

@plugin "@tailwindcss/typography";

/*@custom-variant tana (&:is(.theme-tananona *));*/

@theme {
  --font-sans: 'Karla', Arial, sans-serif;
  --color-kana-blue: #99b1dc;
  --color-kana-blue-pale: #c2d2f5;
  --color-kana-purple: #bea3e7;
  --color-brand-blue-dark: #1e87bc;

  --color-primary: oklch(54.6% 0.245 262.881);

  --shadow-classic: 10px 10px rgba(0, 0, 0, 0.4);

  --text-shadow-outline: -1px -1px 1px var(--tw-text-shadow-color, rgb(0 0 0 / 0.2)),
                        1px 1px 1px var(--tw-text-shadow-color, rgb(0 0 0 / 0.2)),
                        -1px 1px 1px var(--tw-text-shadow-color, rgb(0 0 0 / 0.2)),
                        1px -1px 1px var(--tw-text-shadow-color, rgb(0 0 0 / 0.2));
}

.theme-tananona, .theme-tananona * {
  --color-primary: #b85e68;
}

.theme-maura, .theme-maura * {
  --color-primary: #445fac;
}

html,
body {
  font-size: 14px;
}

@layer utilities {
  .border-outset {
    border-style: outset;
  }

  .border-inset {
    border-style: inset;
  }
}
